@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to Juka (Web Assembly Edition)!</h1>

<div>Keep in mind that not all features will be available due to constraints of the client side browser.</div>


<br/>

Enter Code Here: <br/>
<textarea rows="10" cols="80" @bind="InputValue"></textarea>


<br/><br/>
<button @onclick="RunCode">Run Code</button>
<br/><br/>
<span class="output">Output:</span>
<pre>@OutputValue</pre>

@code {
    private string? InputValue { get; set; } = @"func main() = { 
    var x = ""Hello World"";
    printLine(x); 
}";


    private string? OutputValue { get; set; }

    public void RunCode()
    {
        OutputValue = new Compiler().Go(InputValue ?? "", false);
    }
}
