@page "/"

<PageTitle>Juka Programming Language (WASM)</PageTitle>

<h1>Welcome to Juka (Web Assembly Edition)!</h1>

<div>This website/app can work offline by installing it in a Chromium (Google Chrome) based browser or bookmarking it on your phone!</div>


<br/><br/>

Enter Your Code Below and Click Run: <br/>
<textarea rows="20" cols="100" @bind="InputValue"></textarea>


<br/><br/>
<button @onclick="RunCode">Run Code</button>
<br/><br/>
<span class="output">Output:</span>
<pre>@OutputValue</pre>

@code {
    private string? InputValue { get; set; } = @"func main() = { 
    var x = ""Hello World"";
    printLine(x); 
}";


    private string? OutputValue { get; set; }

    public void RunCode()
    {
        OutputValue = new Compiler().Go(InputValue ?? "", false);
    }
}
