@page "/"
@inject IJSRuntime JS

<PageTitle>Juka Programming Language</PageTitle>

<h1>Welcome to Juka</h1>

<div>This website/app can work offline by installing it in a Chromium (Google Chrome) based browser or bookmarking it on your phone!</div>


<br/><br/>

Enter Your Code Below and Click Run: <br/><br/>

<MonacoEditor Id="myjukamonaco" ConstructionOptions="EditorConstructionOptions" OnDidChangeModelContent="OnDidChangeModelContent" />

<br/><br/>
<button @onclick="RunCode">Run Code</button>
<br/><br/>
<div class="output">Output:</div>
<span>@ExecutedOn</span>
<pre>@OutputValue</pre>

@code {
    private string? Data { get; set; } = @"func main() = {
    // outputs 'Hello World'
    var x = ""Hello World"";
    printLine(x); 
}";
    private string? ExecutedOn { get; set; }
    private string? OutputValue { get; set; }

    private MonacoEditor? _editor;
    private StandaloneEditorConstructionOptions EditorConstructionOptions(MonacoEditor? editor)
    {
        _editor = editor;
        
        
        return new StandaloneEditorConstructionOptions
        {
            AutomaticLayout = true,
                Language = "juka",
                Value = Data
        };
    }
    
    protected override async Task OnInitializedAsync()
    {
        await JS.InvokeVoidAsync("blazorMonaco.languages.register");
        await MonacoEditorBase.DefineTheme("JukaTheme", new StandaloneThemeData
        {
            Base = "vs",
            Inherit = true,
            Rules = new List<TokenThemeRule>
            {
                new TokenThemeRule { Token = "func", Foreground = "00e0bc" },
                new TokenThemeRule { Token = "keyword", Foreground = "FF4500" },
                new TokenThemeRule { Token = "number", Foreground = "54a154" },
                new TokenThemeRule { Token = "comment", Foreground = "888ed1" }
            }
        });
        await MonacoEditorBase.SetTheme("JukaTheme");
    }

    public async Task OnDidChangeModelContent(ModelContentChangedEvent e)
    {
        var model = await _editor.GetModel();
        Data = await model.GetValue(EndOfLinePreference.TextDefined, false);
    }
    
    public void RunCode()
    {
        OutputValue = new Compiler().Go(Data ?? "", false);
        ExecutedOn = "Executed on: "+(DateTime.Now).ToString("F");
    }
}
