@font-face {
    font-family: "Roboto";
    src: url("Roboto-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Roboto";
    src: url("Roboto-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

html {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
}

h1 {
    color: white;
    background-color: rgb(51, 52, 71);
}

textarea {
    font-size: 1.5em;
    color: white;
    background-color: rgb(51, 52, 71);
    max-width:100%;
}

.output {
    font-size: 1em;
    font-weight: bold;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 100%;
}

pre {
    font-size: 1.5em;
}

button {
    font-weight: bold;
    display: inline-block;
    margin-top: 15px;
    margin-right: 25px;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: rgb(51,52,71);
    background-color: rgb(0,224,188);
    box-shadow: -10px 10px 0 -5px white,-10px 10px 0 0 rgb(0,224,188);
    outline: 0;
    border-bottom: 0;
    animation: jukaRoll2 0.4s 1;
}

    button:hover {
        box-shadow: 10px 10px 0 -5px white,10px 10px 0 0 rgb(0,224,188);
        animation: jukaRoll 0.4s 1;
    }

@keyframes jukaRoll2 {
    0% {
        box-shadow: 10px 10px 0 -5px white, 10px 10px 0 0 rgb(0, 224, 188);
    }

    33.3333% {
        box-shadow: 10px -10px 0 -5px white, 10px -10px 0 0 rgb(0, 224, 188);
    }

    66.6666% {
        box-shadow: -10px -10px 0 -5px white, -10px -10px 0 0 rgb(0, 224, 188);
    }

    100% {
        box-shadow: -10px 10px 0 -5px white, -10px 10px 0 0 rgb(0, 224, 188);
    }
}

@keyframes jukaRoll {
    0% {
        box-shadow: -10px 10px 0 -5px white, -10px 10px 0 0 rgb(0, 224, 188);
    }

    33.3333% {
        box-shadow: -10px -10px 0 -5px white, -10px -10px 0 0 rgb(0, 224, 188);
    }

    66.6666% {
        box-shadow: 10px -10px 0 -5px white, 10px -10px 0 0 rgb(0, 224, 188);
    }

    100% {
        box-shadow: 10px 10px 0 -5px white, 10px 10px 0 0 rgb(0, 224, 188);
    }
}body {
}
